.container {
    width: 100%;
    padding: 78px 0px;
    position: relative;
}

.aboutimg {
    height: auto;
    width: 420px;
    border-radius: 10px;
}

.details {
    width: 550px;
}

.details p {
    font-size: 12px;
}

.s-blur5 {
    top: 13rem;
    left: -18rem;
}

.s-blur6 {
    top: 15rem;
    left: 52rem;
}

.blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: 0;
    top: -18%;
    left: 56%;
    filter: blur(72px);
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

@media screen and (max-width: 480px) {
    .main {
        gap: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15rem;
    }

    .details {
        width: 100%;
    }

}