.container {
    width: 100%;
    padding: 78px 0px;
}

.aboutimg {
    height: auto;
    width: 420px;
    border-radius: 10px;
}

.details {
    width: 550px;
}

.details p {
    font-size: 12px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}