:root {
  --yellow: #F5C32C;
  --orange: #FCA61F;
  --black: #242D49;
  --gray: #788097;
  --blueCard: #DDF8FE;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
  font-family: 'Poppins', sans-serif;
}

.button {
  background: linear-gradient(180deg, #fd6a0f 26.71%, #fb432f 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(251, 65, 40, 0.42);
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
}

.button:hover {
  background: white;
  cursor: pointer;
  border: 1px solid var(--orange);
  color: var(--orange);
}

/* .container {
  max-width: 95%;
  margin: auto;
} */

.d_flex {
  display: flex;
  justify-content: space-between;
}

.f_flex {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

button {
  border: none;
  outline: none;
  background-color: none;
}

.btn_shadow {
  padding: 18px 25px;
  border-radius: 6px;
  transition: 0.3s all ease;
  cursor: pointer;
  color: #000;
  transition: 0.5s;
}

.btn_shadow {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}

.btn_shadow:hover {
  background: #a33009;
  color: rgba(255, 255, 255, 0.532);
  transform: translateY(-10px);
}

.box_shodow {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  border-radius: 10px;
}

.row,
.left,
.right {
  width: 50%;
}

.top {
  margin-top: 80px;
}

.mtop {
  margin-top: 40px;
}

.heading {
  margin: 50px 0 50px 0;
}

.heading h4 {
  color: #ff5101;
  letter-spacing: 2px;
  font-weight: 400;
}

.heading h1 {
  font-size: 60px;
  color: #3c3e41;
}

h1 {
  color: #3c3e41;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 19px;
}

p {
  color: #3c3e41;
}

.text-center {
  text-align: center;
}

.primary_color {
  color: #ff4501;
}

textarea,
input {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  outline: none;
  border: 3px solid #e2e8ec;
  margin-bottom: 20px;
}

/*----------Footer---------*/
footer {
  margin: 20% 0 10% 0;
}

footer p {
  margin-top: 30px;
}

/*----------Footer---------*/
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .left,
  .right {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .App {
    padding: 0.5rem 1rem;

  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}